html
  background: whitesmoke

  .grid
    margin: 1em
    background: lightgrey

    &-a div
      background: magenta
    &-b div
      background: green 
    &-c div
      background: yellow
      padding: 1em
    &-d
      height: 500px
      width: 500px
      div
        background: blue
      
