html
  background: whitesmoke

  .grid
    margin: 1em
    background: lightgrey

    &-a div
      background: magenta
      color: white
      padding: 1em
    &-b div
      background: green 
      color: white
      padding: 1em
    &-c div
      background: yellow
      padding: 1em
    &-d
      height: 500px
      width: 500px
      div
        background: blue
        color: white
        padding: 1em
    &-e
      height: 500px
      width: 500px
      div
        background: purple
        color: white
        padding: 1em
    &-f
      div
        background: lightblue
        color: black
        padding: 1em
      header
        background: orange
        color: white
        padding: 1em
      footer
        background: red
        color: white
        padding: 1em
      
