html
  background: whitesmoke

  .grid
    margin: 1em
    background: lightgrey

    &-a div
      background: grey
      padding: 1em
    &-b div
      background: grey 
      padding: 1em
    &-c div
      background: grey
      padding: 1em
    &-d
      height: 500px
      width: 500px
      div
        background: grey
        padding: 1em
    &-e
      height: 500px
      width: 500px
      div
        background: grey
        padding: 1em
    &-f
      div
        background: grey
        padding: 1em
      header
        background: orange
        padding: 1em
      footer
        background: yellow
        padding: 1em
      
